  * {
      -webkit-box-sizing: border-box;
      outline: 0
  }
  html {
      font-family: Arial, Verdana, Helvetica, sans-serif;
      text-align: left;
      background: #313131;
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      white-space: nowrap
  }
  body {
      position: relative;
      font-family: inherit;
      display: block;
      font-size: 12px;
      color: #ccc;
      margin: 10px 0 0 0;
      padding: 0
  }
  fieldset {
      position: relative;
      background-color: #212121;
      border: 1px solid #999;
      color: #ccc;
      text-align: left;
      margin: 32px 2px 2px 2px;
      padding: 2px;
  }
  legend {
      position: absolute;
      top: -20px;
  }
  label {
      display: inline-block;
      font-size: 11px;
      margin: 0;
      padding: 0 5px 0 0;
      width: 76px;
      text-align: right;
      vertical-align: text-top
  }
  .tip_link {
      position: relative;
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #393939;
      color: #000;
      font-weight: bold;
      text-align: center;
      margin: 0 3px 0 0;
      vertical-align: middle;
      border: 1px solid #000;
  }
  .tip_text {
      cursor: help;
      z-index: 100;
      position: absolute;
      top: -3px;
      left: -3px;
      background: #000;
      color: #ccc;
      display: none;
      padding: 3px;
      width: 250px;
      max-height: 120px;
      font-weight: normal;
      text-align: left;
      white-space: normal;
  }
  .tip_text h3 {
      display: inline-block;
      color: #0096d6;
      font-weight: bold;
      margin: 0;
      padding: 0
  }
  .tip_text .tip_link {
      display: inline-block;
      background-color: #0096d6;
      padding: 0;
      margin: 0 3px 0 0;
      vertical-align: top;
  }
  .tip_link:hover .tip_text {
      display: block;
  }
  .field_wrap {
      display: inline-block;
      width: auto;
      white-space: normal;
      vertical-align: top;
  }
  .field_wrap span {
      position: relative;
  }
  input[type=text],
  input[type=number],
  textarea {
      font-family: Arial, Verdana, Helvetica, sans-serif;
      background-color: #393939;
      border: 1px solid #000;
      color: #999;
      padding: 3px;
      width: 197px;
      margin: 0 0 2px 0;
  }
  input[type=number] {
      width: 50px;
  }
  input.image_field {
      padding: 3px 30px 3px 3px;
  }
  input::-webkit-inner-spin-button {
      opacity: 1;
  }
  #display input[type=text] {
      display: inline-block;
      font-family: Arial, Verdana, Helvetica, sans-serif;
      background-color: #393939;
      border: 1px solid #000;
      color: #999;
      padding: 3px;
      width: 60px;
  }
  textarea {
      height: 80px;
      vertical-align: bottom;
      resize: vertical;
  }
input:focus,
textarea:focus {
    background-color: #4c4c4c;
    border: 1px solid #000;
}
.field {
    padding: 3px 0;
    float: left;
}
button {
    background-color: #000;
    border: 1px solid #555;
    color: #fff;
    font-size: 11px;
    padding: 0 5px;
    margin: 0 0 2px 2px;
    height: 23px;
}
button:hover {
    background-color: #043151;
    border-color: #fff;
    cursor: pointer
}
button.copy_field {
    vertical-align: bottom;
    margin: 0 0 2px 0;
}
button.local_image {
    font-size: 9px;
    height: 16px;
    position: absolute;
    top: -1px;
    left: 168px;
}
.buttons {
    text-align: right;
    clear: both;
}
.buttons button {
    text-align: right;
    clear: both;
    margin: 5px;
}